* {box-sizing:border-box}

/* Slideshow container */
.sl_ctnr {
    max-width:500px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.slides {
    display: none;
}

/* Buttons - Next & Previous */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: 50%;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* on hover, and a black background color with a little bit see-throug */
.prev:hover, .next:hover {
    background-color: rgba (0,0,0,0.8);
}

/* Caption text */
.text {
    color: #000000;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 30px; 
    width: 100%;
    text-align: center;
}

/* Number text */
.numbertext {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;

}

/* dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* fading animation */
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: .5s;
    animation-name: fade;
    animation-duration: .5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}