body {
    background-color: sandybrown;
}

div, h1, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(100, 42, 15);
    text-align: left;
}

#menuBG {
    width:400px;
    height:470px;
    margin:10px auto;
}

#frmMenu {
    width:600px;
    height:200px;
}

#totalPrice {
    width:200px;
    height:190px;
    margin:0 auto;
    float:right;
}

.left {
    float:left;
    width:200px;
    height:200px;
}

.right {
    float:right;
    width:200px;
    height:200px;
}

.center {
    float:left;
    width:200px;
    height:200px;
}

#showText {
    width:200px;
    height:190px;
    margin:0px auto;
    float:left;
}

#cart {
    top:0;
    margin:0px auto;
    width:400px;
    height:200px;
}

#btnOrder {
    margin:10px 0px 0px 100px;
    width:100px;
    height:40px;
}